.side-menu{
    background-color: #ECF0F3;
    width: 290px;
    height: 100%;
    padding:0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 5px solid #E0E4E7;
    position: fixed;
}
.menu-item img{
    width: 150px;
    border-radius: 50px;
    margin-top: 40px;
}
.menu-item{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 1px;
}
.items{
    margin-bottom: 100px;
    width: 150px;
}
.side-menu li{
    margin-top: 40px;
}
.side-menu ul li a{
    display: block;
    color: black;
}
.side-menu ul li a:hover{
    cursor: pointer;
    /*背景漸變*/
    background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
    /*背景漸變色大小*/
    background-size: 400%;
    /*
    將區塊?的文字作為裁剪範圍向外裁剪，
    文字的背景就是區塊的背景，
    文字之外的區域都會被裁剪掉。
    需要搭配color:
    簡單來說就是讓文字有流光效果而不是背景
    */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: streamer 8s infinite;
}
/*定義動畫*/
@keyframes streamer{
    100%{
        /*背景位置*/
        background-position: -400% 0;
    }
}
#projectChildMenu{
    display: none;
}
.findWithMe-button{
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-top: 20px;
}
.findWithMe-button a{
    background-color: white;
    border-radius: 8px; /*0.5rem = (16px * 0.5) = 8px*/
    cursor: pointer;
    padding: 8px 16px;
}
.findWithMe-button a:hover{
    background-color: dodgerblue;
}